* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0px;
    z-index: 15;
    background-color: #fff;
   
}

/* navbar */
nav {}

.nav-bar {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 45px;
    margin-bottom: 6px;
    
}


.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.nav-list>li {
    list-style-type: none;
    transition: all .5s ease-in-out;
}

.nav-list>li>a {
    text-decoration: none;
    color: #fff;
}

.nav-list>li:hover {
    background-color: burlywood;
    transform: scale(1.20);
}

/* header banner */
.header-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.header-banner>a {
    text-decoration: none;
}

.banner-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.banner-head {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.12px;
}

.banner-col-para {
    color: #BF4800;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.08px;
}

/* hero section */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.hero-head {
    color: #6E6E73;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 147.059% */
    letter-spacing: -0.374px;
}

.hero-para {
    background: url(./image/figure-iphone.png), lightgray 50% / contain no-repeat;
    width: 100px;
    height: 21px;

}

.gradient-text {
    text-align: center;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    letter-spacing: -0.144px;
    background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 24%, #7F87FF 45%, #F65AAD 76%, #EC3D43 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paragraph {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    letter-spacing: 0.231px;
}

.buy-option {
    gap: 28px !important;
}

.buy-option>ul>li {
    list-style-type: none;
}

.my-btn {
    padding: 8px 15.6px 8px 16px;
    border-radius: 980px;
    background-color: #0071E3;
    color: #FFF;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 117.648% */
    letter-spacing: -0.374px;
    width: 68px;
    height: 36px;
}

.mybtn-2 {
    color: #06C;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    letter-spacing: 0.231px;
}

.hero-img {
    background: url(./image/figure.png), lightgray 50% / contain no-repeat;
    width: 768px;
    height: 717px;

}

.hero2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
    margin: 30px 10px;
}

.hero-para2 {
    background: url(./image/figure-iphone2.png), lightgray 50% / contain no-repeat;
    width: 100px;
    height: 21px;

}

.gradient-text2 {
    text-align: center;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    letter-spacing: -0.144px;
    background: linear-gradient(180deg, #FFB6FF 0%, #B344FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-c {
    color: #F5F5F7 !important;
}

.hero-img2 {
    background: url(./image/figure2.png), lightgray 50% / contain no-repeat;
    width: 782px;
    height: 540px;

}

.hero3 {
    background: #FBFBFD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero-para3 {
    background: url(./image/figure-iphone3.png), lightgray 50% / contain no-repeat;
    width: 100px;
    height: 21px;

}

.gradient-text3 {
    text-align: center;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    letter-spacing: -0.144px;
    background: linear-gradient(90deg, #1E3791 0%, #2948B1 40%, #3153C6 55%, #385FDA 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-img3 {
    background: url(./image/figure3.png), lightgray 50% / contain no-repeat;
    width: 490px;
    height: 830px;

}

/* image section */
.image-section {
    /* background: url(./image/figure4.png), lightgray 50% / contain no-repeat; */
    background-image: url(./image/figure4.png);
    background-repeat: no-repeat;
    background-size: 100vw 700px;
    width: 100vw;
    height: 700px;
    padding: 270px 176px;
  
    margin: 30px;
}

.image-text {
    flex-direction: column !important;
    margin: 30px;
    gap: 20px;

}

.image-text2 {
    color: #FFF;
    font-family: SF Pro Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.216px;
}

.image-head {
    color: #FFF;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    letter-spacing: -0.144px;
}

.image-btn {
    padding: 8px 15.6px 8px 16px;
    border-radius: 980px;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.374px;
}

/* card section */
.card-section {}

.container3 {
    margin: 100px 30px 100px 30px;
    flex-direction: column;
    padding: 10px;
    height: 1900px;

}

.container-text {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    letter-spacing: -0.144px;
}

.card-container {
    margin: 10px;
    height: 1850px;
}

.card-container,
.card,
.card-img,
.card-text,
.card-text-1 {
    flex-direction: column;

}

.my-card-main-container {
    height: 1850px;
}

.my-card {
    flex-direction: column;
    width: 210px;
    height: 480px;
}

.card-img {
    height: 220px;
}

.card-img1 {
    width: 190px;
    height: 260px;
}

.card-img2 {
    width: 68px;
    height: 14px;
    text-align: center;
}

.card-text {
    height: 190px;
}

.card-text-1 {
    height: 120px;
}

.card-text-2-img {
    /* background: url(./image/figure-iphone2.png), lightgray 50% / contain no-repeat; */
    width: 136px;
    height: 20px;
    text-align: center;
}

.card-text-3 {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.374px;
}

.card-text2-1 {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.224px;
}

.my-border {
    /* width: 210px;
    height: 1px;
    background-color: #D2D2D7;; */
    border-bottom: 1px solid #d2d2d7;

}

.feature1 {
    flex-direction: column;
    width: 210px;
    height: 110px;
}

.feature1-text {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Text;
}

.feature1-text1 {
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.374px;
}

.feature1-text2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.224px;
}

.feature2-1 {
    height: 50px;
    flex-direction: column;
}

.feature2-img {
    width: 36px;
    height: 36px;
}

.feature2-text2-2 {
    color: #6E6E73;
    text-align: start;
    font-family: SF Pro Text;
}

.feature3-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.feature4-img {
    width: 36px;
    height: 36px;
}

.feature4-1 {
    flex-direction: column;
}

.padding-text {
    padding: 2px 9px;
}

.feature3-text4-3 {
    text-align: center !important;
}

.feature4 {
    flex-direction: column;
    width: 210px;
    height: 190px;
}

.feature5 {
    flex-direction: column;
    width: 210px;
    height: 70px;
}

.feature5-1 {
    flex-direction: column;
}

.feature5-img {
    width: 43px;
    height: 22px;
}

.feature6 {
    flex-direction: column !important;
    gap: 10px;
    width: 210px;
    height: 80px;
}

.card-bottom {
    width: 100vw;
    height: 32px;
    margin-top: 10px;
    gap: 40px;
}

.card-bottom>a {
    text-decoration: none;
    color: #06C;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    letter-spacing: 0.231px;
}

/* give wow section */
.give-wow {
    background: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 40px;
}

.give-wow-container {
    width: 1020px;
    height: 575px;
    padding: 10px;
    background-color: #01012A;
}

.give-wow-img {
    width: 4ovw;
    height: 550px;
}

.give-wow-text {
    flex-direction: column;
    width: 40vw;
    height: 550px;
}

.give-wow-text1 {
    color: #FFF;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 100.009px;
    letter-spacing: -0.27px;
}

.give-wow-text2 {
    color: #2997FF;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    letter-spacing: 0.231px;
}

/* way to buy iphone section */
.Ways-to-Buy-iPhone {
    
    width: 100vw;
    /* height: 1200px; */
    flex-direction: column;
    gap: 15px;
    background: #F2F2F2;
}
.way-to-buy-container{
    flex-direction: column;
    gap: 20px;
    width: 1030px;
}
.way-to-buy-card {
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    /* width: 100vw; */
    /* margin: 30px 10px; */
}

.way-to-buy-card-text {
    flex-direction: column;
}

.way-to-buy-card-text1 {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.216px;
}

.way-to-buy-card-text2 {
    width: 650px;
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    letter-spacing: -0.144px;
}

.way-to-buy-card-text-img {
    width: 110px;
    height: 60px;
}

.way-buy-card-text6 {
    color: #6E6E73;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    /* 138.1% */
    letter-spacing: 0.231px;
}

.card-text-width {
    width: 190px;
    gap: 30px;
    margin: 10px;
}

.way-to-buy-card-find-deal {
    margin-top: 20px;
    gap: 50px;
}

.find-your-deal {
    border-radius: 980px;
    background: #0071E3;
    color: #FFF;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.374px;
    width: 162px;
    height: 56px;
    padding: 18px 30.6px 18px 31px;
}

.find-your-deal-text {
    text-align: center;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.374px;
}

.find-your-deal-text-col {
    color: #06C !important;
}

.way-buy-text {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.28px;
}
.way-to-buy-middle{
    gap: 20px;
}
.way-to-card {
    flex-direction: column;
    width: 500px;

}

.way-buy-card1 {
    flex-direction: column;
    /* width: 42vw; */
    /* height: 1000px; */
    background-color: #fff;
  
}

.way-buy-card1-text {
    flex-direction: column;
}

.way-buy-card-text1 {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    letter-spacing: -0.144px;
}

.way-buy-card-text2 {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    letter-spacing: 0.231px;
}

.way-buy-card-text3 {
    color: #06C;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    letter-spacing: 0.231px;
}

.way-buy-card1-img {
    margin: 15px 0px;
    width: 500px;
    height: 350px;
    text-align: center;
}

.way-to-bottom-img {
    width: 90vw;
    height: 560px;
    background-repeat: repeat;
    text-align: center;
}
/* feature accessories */
.feature-accessories {
    margin: 20px;
    gap: 30px;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background: #F2F2F2;
}
.feature-accessories-container{
    flex-direction: column;
    gap:20px;
}
.feature-accessories-card {
    gap: 55px;
    width: 100vw;
    background-color: #fff;
}

.feature-accessories-card-text1 {
    width: 288px;
    flex-direction: column;
    gap: 20px;
}

.feature-accessories-img1 {
    width: 42vw;
    height: 463px;
}

.feature-accessories-img1>img {
    width: 41vw;
    height: 430px;
}

.feature-accessories-card3 {
    flex-direction: column;
    gap: 55px;
    width: 100vw;
    background-color: #fff;
}
.features{
   gap: 20px; 
   width: 100vw;
   background: #F2F2F2;
}
.feature-1{
flex-direction: column;
gap: 10px;
width: 290px;
}
/* makes an iphone section */
.makes-an-iphone{
    flex-direction: column;
    padding: 30px;
    gap: 45px;
    background: #F2F2F2;
    width: 100vw;
}
.makes-an-iphone-card{
    flex-direction: column;
    gap: 20px;
    width: 430px;
    background-color: #fff;
}
.makes-an-iphone-card-img>img{
    width: 420px;
}
/* get-more section */
.get-more-container{
    flex-direction: column;
    gap:20px;
    width: 100vw;
}
.container1{
    background-color: #fff;
    width: 1020px;
    
}
.container-img1>img{
width:400px;
height: 300px;
}
.container-1-2{
  width: 350px;
  flex-direction: column;
  gap: 10px;
}
.container-1-list{
    list-style-type:none;
    gap: 20px;
}
.container-2{
    gap: 20px;
}
.get-more-container-card{
    /* gap: 12px; */
    width: 500px;
    height: 475px;
    background-color: #090A0E;
    flex-direction: column;
    
}
.get-more-container-card-text{
    flex-direction: column;
    gap: 10px;
    height: 230px;
}
.get-more-container-card-text1{
    width:285px;
    color: #F5F5F7;
}
.get-more-container-card-bottom{
    flex-direction: column;
    justify-content:space-around;
    align-items:start;
    width: 500px;
    height: 245px;
}
.card-bottom-top{
    width: 97%;
    justify-content: end !important;
}
.get-more-container-card-bottom-mid{
    display: inline-flex;
/* height: 148px; */
justify-content: start;
align-items:start;
width: 100% !important;
}
.bottom-mid-ul{
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
    gap: 12px;
    margin-inline: 4px;
    padding-inline: 8px;
   
}
.bottom-mid-ul>ul>li{
    width: 135px;
    height: 56px;
    list-style-type:none;    
}

::-webkit-scrollbar{
    display: none;
}
.get-more-container-card2{
    width: 500px;
    height: 475px;
    background-color:#fff;
    flex-direction: column;
}
.get-more-container-card-text2{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
}
.get-more-container2-card-bottom-img{
justify-self:left;
align-self: flex-start;
overflow-x: scroll;
width: 450px;
padding: 10px;
gap: 10px;
}
.get-more-container2-card-bottom-img>img:nth-child(odd){
    margin-top: 20px;
}
.container-3,.container-4{
    gap:20px;
}
.container-3-img1{
    background-image: url(./image/container3-img1.png);
    background-repeat: no-repeat;
    background-size: 500px 475px;
    background-color: #FA3454;
}
.container-3-img2{
    background-image: url(./image/container-3-img2.png);
    background-repeat: no-repeat;
    background-size: 500px 475px;
    background-color: #fff;
}
.container-4-bot-img1{
     background-image: url(./image/container-4-bot-img1.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-size:400px 200px;
    width: 400px;
    height: 200px;
 

}
.container-4-bot-img2{
    background-image: url(./image/container-4-bot-img2.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 500px 240px;
    width: 500px;
    height: 300px;
    
}
.container-5{
    background-color: #fff;
    gap: 50px;
    width: 1020px;
    height:340px;
}
.container-5-img2{
     background-image: url(./image/container-5-img2.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 450px 300px;
    width: 450px;
    height: 300px;
    margin-top: 35px;
    margin-left: 20px;
}
.container-5-text{
    flex-direction: column;
    gap:12px;
}
.container-5-text1{
    width: 250.294px;
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; /* 108.349% */
letter-spacing: -0.144px;
}
.container-5-text2{
    width: 307.754px;
}
/* footer */
footer{
    width: 100vw;
    height: 570px;
    background-color: #F5F5F7;
    padding: 10px 30px 10px 30px;
    flex-direction: column;
    gap:30px;
}
.footer-border{
    width: 1020px;
    height: 1px;
    background-color: #D2D2D7;
}
.apple-directory{
    width:1020px;
    align-items: flex-start;

}
.apple-directory1{
    flex-direction: column;
    gap:5px;
}
.apple-directory1>ul{
    list-style-type: none;
    flex-direction: column;
    gap: 5px;
    color: #424245;
font-family: SF Pro Text;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px;
margin: 0px;
padding: 0px;
}
.apple-directory1-text{
    color: #1D1D1F;
font-family: SF Pro Text;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 133.337% */
letter-spacing: -0.12px;
}
.apple-directory2{
    flex-direction: column;
    gap:20px;
}
.footer-bottom{
    width: 1020px;
    height: 90px;
    flex-direction: column;
    gap:10px;
}
.footer-bottom-top{
    width: 1020px;
    height: 14px;
    font-family: SF Pro Text;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px;
}
.color1{
    color: #6E6E73;
    display: inline-block;
}
.color2{
    color: #06C;
    display: inline-block;
}
.footer-bottom-bot{
    width: 1020px;
    height: 26px;
}
.footer-bottom-bot-text1{
    gap: 30px;
}
.footer-bottom-bot-text1-1{
    color: #6E6E73;
font-family: SF Pro Text;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.337% */
}
.footer-bottom-bot-text2{
    color: #424245;
font-family: SF Pro Text;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.337% */
}
.footer-bottom-bot-text1-end{
  width:400px;
  height: 21px;
  gap: 10px;
}
.end1{
    color: #424245;
    font-family: SF Pro Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    display: inline-block;
}
.end2{
width: 1px;
height: 14px;
background-color: #D2D2D7;
display: inline-block;
}
@media screen and (max-width: 1024px) {

    /* header section */
    .nav-bar {
        transform: scale(.90);
        gap: 5px !important;
        width: 100vw !important;
    }
    footer,.feature-accessories,.Ways-to-Buy-iPhone,.hero-section,.image-section{
        transform: scaleX(.8);
    }
    .hero-img2,.hero-img3{
        width:600px;
    }
}

@media screen and (max-width: 768px) {

    /* header section */
    .nav-bar {
        transform: scale(.83) !important;
        gap: 3px !important;
        width: 100vw !important;
    }

}

@media screen and (max-width:768px) {

    /* header section */
    .nav-bar {
        transform: scale(1) !important;
        gap: 5px !important;
        width: 100vw !important;
    }
   .header-banner{
   transform: scaleX(.7);
   }
    .nav-list>li>a {
        font-size: 10px;
    }
   
}