* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0px;
    z-index: 15;
    background-color: #fff;
}

/* navbar */
nav {}

.nav-bar {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 45px;
    margin-bottom: 6px;
}


.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.nav-list>li {
    list-style-type: none;
    transition: all .5s ease-in-out;
}

.nav-list>li>a {
    text-decoration: none;
    color: #fff;
}

.nav-list>li:hover {
    background-color: burlywood;
    transform: scale(1.20);
}

/* header banner */
.header-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.header-banner>a {
    text-decoration: none;
}

.banner-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.banner-head {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.12px;
}

.banner-col-para {
    color: #BF4800;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.08px;
}

/* hero section */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.hero-head {
    color: #6E6E73;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 147.059% */
    letter-spacing: -0.374px;
}

.hero-para {
    background: url(./image/figure-iphone.png), lightgray 50% / contain no-repeat;
    width: 100px;
    height: 21px;

}

.gradient-text {
    text-align: center;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    letter-spacing: -0.144px;
    background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 24%, #7F87FF 45%, #F65AAD 76%, #EC3D43 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paragraph {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    letter-spacing: 0.231px;
}

.buy-option {
    gap: 28px !important;
}

.buy-option>ul>li {
    list-style-type: none;
}

.my-btn {
    padding: 8px 15.6px 8px 16px;
    border-radius: 980px;
    background-color: #0071E3;
    color: #FFF;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 117.648% */
    letter-spacing: -0.374px;
    width: 68px;
    height: 36px;
}

.mybtn-2 {
    color: #06C;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    letter-spacing: 0.231px;
}

.hero-img {
    background: url(./image/figure.png), lightgray 50% / contain no-repeat;
    width: 768px;
    height: 717px;

}
.hero2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
    margin: 30px 10px;
}
.hero-para2{
    background: url(./image/figure-iphone2.png), lightgray 50% / contain no-repeat;
    width: 100px;
    height: 21px;

}
.gradient-text2{
    text-align: center;
font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; 
letter-spacing: -0.144px;
background: linear-gradient(180deg, #FFB6FF 0%, #B344FF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.p-c{
    color: #F5F5F7 !important;
}
.hero-img2{
    background: url(./image/figure2.png), lightgray 50% / contain no-repeat;
    width: 782px;
    height: 540px;

}
.hero3{
    background: #FBFBFD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.hero-para3{
    background: url(./image/figure-iphone3.png), lightgray 50% / contain no-repeat;
    width: 100px;
    height: 21px;

}
.gradient-text3{
    text-align: center;
font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; 
letter-spacing: -0.144px;
background: linear-gradient(90deg, #1E3791 0%, #2948B1 40%, #3153C6 55%, #385FDA 60%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.hero-img3 {
    background: url(./image/figure3.png), lightgray 50% / contain no-repeat;
    width: 490px;
    height: 830px;

}
/* image section */
.image-section{
    background: url(./image/figure4.png), lightgray 50% / contain no-repeat;
    width: 100vw;
    height:700px;
    padding: 270px 176px;
    margin: 30px;
}
.image-text{
    flex-direction: column !important;
    margin: 30px;
    gap: 20px;

}
.image-text2{
    color: #FFF;
font-family: SF Pro Display;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; 
letter-spacing: 0.216px;
}
.image-head{
    color: #FFF;
font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; 
letter-spacing: -0.144px;
}
.image-btn{
    padding: 8px 15.6px 8px 16px;
    border-radius: 980px;
background: #FFF;
color: #000;
text-align: center;
font-family: SF Pro Text;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
letter-spacing: -0.374px;
}

@media screen and (max-width: 990px) {

    /* header section */
    .nav-bar {
        transform: scale(.90);
        gap: 5px !important;
        width: 100vw !important;
    }

}

@media screen and (max-width: 768px) {

    /* header section */
    .nav-bar {
        transform: scale(.83) !important;
        gap: 3px !important;
        width: 100vw !important;
    }

}

@media screen and (max-width:600px) {

    /* header section */
    .nav-bar {
        transform: scale(.80) !important;
        gap: 3px !important;
        width: 100vw !important;
    }

    .nav-list>li>a {
        font-size: 10px;
    }
}